<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <input type="text" name="title"   value="<%=listing.title%>">
        <br>
        <br>
        <textarea name="description" id="description" ><%=listing.description%></textarea>
        <br>
        <br>
        <input type="text" name="image" id="image"  value="<%= listing.image %>" >
        <br><br>
        <input type="number" name="price" id="price"  value="<%=listing.price%>">
        <br><br>
        <input type="text" name="location" id="location"  value="<%=listing.location%>">
        <br><br>
        <input type="text" name="country" id="country"  value="<%= listing.country %>">
        <br><br>
        <button>Done</button>
</body>
</html>