<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="listings/<%= listingData._id %>?_method=PUT" method="POST">
        <input type="text" name="title"  placeholder="enter new title" value="<%=listingData.title%>">
        <br>
        <br>
        <textarea name="description" id="description"><%=listingData.description%></textarea>
        <br>
        <br>
        <input type="text" name="image" id="image"  value="<%=listingData.image%>" >
        <br><br>
        <input type="number" name="price" id="price"  value="<%=listingData.price%>">
        <br><br>
        <input type="text" name="location" id="location"  value="<%=listingData.location%>">
        <br><br>
        <input type="text" name="country" id="country"  value="<%= listingData.country %>">
        <br><br>
        <button>Done</button>
</body>
</html>