<%- layout("/layouts/boilerplate.ejs") %>
    <h3>Listings Details</h3>
    <div class="row">
        <div class="col offset-2" >
            <div class="card col-6">
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="...">
        <div class="card-body">
            <b><%=listing.title%></b>
            <p class="card-text" style="padding: 10px;">
                <%=listing.description%>
                <br>
                $<%=listing.price.toLocaleString()%>
                <br>
                <%= listing.location %>
                <br>
                <%= listing.country%>
            </p>
            
        </div>
    </div>
    <div class=" offset-1" style="display: flex;" >
        <form action="/listings/<%=listing._id%>/edit" method="GET">
        <button class="btn  offset-1" >Edit</button>
    </form>
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
        <button class="dlt-btn btn offset-2" >Delete</button>
    </form>
    </div>
        </div>
    </div>
    
    
