<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=listing.title%></title>
</head>
<body>
    <h1><%=listing.title%></h1>
    <p><%=listing.description%></p>
    <img src="<%=listing.image%>" alt="">
    <p><%=listing.price.toLocaleString()%></p>
    <form action="/listings/<%=listing._id%>/edit" method="GET">
        <button>Edit</button>
    </form>
</body>
</html>